.modifica-prodotto {
  padding: 2rem;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .p-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .actions {
    text-align: center;
  }
}
