<div class="home">
  <h1>Il nostro catalogo</h1>

  <div class="p-grid p-align-start p-mt-4">
    <div class="p-col-12 p-sm-6 p-md-4" *ngFor="let p of products">
      <p-card
        [header]="p.nome"
        [subheader]="'Prezzo: € ' + p.prezzo.toFixed(2)"
        styleClass="product-card"
      >
        <div class="card-actions">
          <button pButton class="p-button-rounded p-button-text" 
            icon="pi pi-pencil"
            (click)="editProduct(p)">
          </button>
          <button pButton class="p-button-rounded p-button-danger p-button-text" 
            icon="pi pi-trash"
            (click)="deleteProduct($event, p)">
          </button>
        </div>
        <ng-template pTemplate="content">
          <ul class="components-list">
            <li *ngFor="let c of p.componenti">
              <div class="component-info">
                <span class="component-name">{{ c.nome }}</span>
                <small *ngIf="c.variante">({{ c.variante }})</small>
              </div>
              <div class="component-meta">
                <span class="component-price">€ {{ c.prezzo.toFixed(2) }}</span>
                <small class="component-qty">×{{ c.quantita }}</small>
              </div>
            </li>
          </ul>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton type="button" label="Genera Listino" (click)="generaListino(p)"></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<p-dialog 
  [(visible)]="showMarkupDialog" 
  header="Configura Ricarico" 
  [modal]="true" 
  [style]="{width: '450px'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="markup">Percentuale di Ricarico</label>
      <p-inputNumber 
        id="markup" 
        [(ngModel)]="markupPercentage" 
        mode="decimal" 
        [showButtons]="true"
        [min]="0" 
        [max]="100" 
        suffix="%">
      </p-inputNumber>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button 
      label="Annulla" 
      (onClick)="cancelMarkup()" 
      styleClass="p-button-text">
    </p-button>
    <p-button 
      label="Genera" 
      (onClick)="generateWithMarkup()">
    </p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
